	<!-- Page Wrapper -->
	@model IEnumerable<Summary>
			
				<!-- Page Content -->
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="row">
						<div class="col-md-12">
							<div class="page-head-box">
								<h3>Summary Form For The Month</h3>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
										<li class="breadcrumb-item active" aria-current="page">Offer Approvals</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-12" style="margin-left:150px;">
							<div class="float-right mb-2">
								<a type="button" 
								asp-action="ExportSummaryData"
								asp-controller="Home"
								class="btn btn-primary">
								Export to CSV
								</a>
							</div>
							<div class="table-responsive">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											
											<th>EmployeeId</th>
											<th>FirstName</th>
											<th>Last Name</th>
											<th>TotalDaysAbsent</th>
											<th>TotalDaysPresent</th>
											<th>TotalDaysPresent</th>
										</tr>
									</thead>
									<tbody>
											@foreach (var summary in Model)
										{
											<tr>
												<td>@summary.EmployeeId</td>												
												<td>@summary.FirstName</td>
												<td>@summary.LastName</td>							
												<td>@summary.TotalDaysAbsent</td>
												<td>@summary.TotalDaysLate</td>
												<td>@summary.TotalDaysPresent</td>
												<td></td>
											</tr>
										}
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
				<!-- /Page Content -->
				
				<!-- Delete Job Modal -->
				<div class="modal custom-modal fade" id="delete_job" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Job Modal -->
				
            </div>
			<!-- /Page Wrapper -->

        </div>